<div
  id="posts"
  data-controller="pagination"
  data-pagination-url-value="<%= posts_index_url %> "
  data-pagination-page-value="<%= 2 %>">
  <%= render @posts %>
</div>
<span id="bottomPage" class="hidden"></span>
